<head>
  <link rel="stylesheet" href="/css/style.css">
</head>


<header>
  <h1>Procastination Station</h1>
  <ul class="nav justify-content-start">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/profile">MyProfile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Create New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Task View</a>
    </li>
  </ul>
</header>